<div nz-row
     style="overflow:hidden;height:80vh;background-color:#D21241; padding-bottom:10px;margin-top: 10px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
  <div nz-col nzSpan="8">
    <h3 nz-typography style="color: #fafafa;padding-top: 20px;padding-left: 15px;font-weight: bold;height: 50px">
      Orders</h3>
  </div>

  <div nz-col nzSpan="16" style="text-align: right">

  </div>

    <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
      <div nz-row
           style="overflow: scroll;margin-right: 10px; height:90%;background-color:white; padding-bottom: 10px">
        <div style="margin-left:40px; overflow: scroll" nz-row>
          <app-room-card [orderColor]="items.orderColor" [cardType]="'order'" *ngFor="let items of OrderList" [isAvailable]="items.availability" [order_status]="3"
                         [number]="items.roomNo">
          </app-room-card>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 97%; margin-top: 4px; background-color:#D21241 ">
      <nz-card nzHoverable style="width:96%; height: 91%;" [nzCover]="coverTemplate">
        <nz-card-meta [nzTitle]="coverTemplate2" nzDescription=""></nz-card-meta>
      </nz-card>
      <ng-template  #coverTemplate>
        <h2 style="margin-top: 40px">Summery</h2>
        <div nz-row>
          <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #3ba0e9">

            </div>
          </div>
          <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px">
              <h4>Egg & Cheese Sandwich</h4>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #ffcd00">

            </div>
          </div>
          <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px">
              <h4>Pancake</h4>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #92D050">

            </div>
          </div>
          <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px">
              <h4>Egg</h4>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #ff4da8">

            </div>
          </div>
          <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px">
              <h4>French Toast</h4>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #f4ff3e">

            </div>
          </div>
          <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: left; margin-left: 10px">
              <h4>Cheese Omelette</h4>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #coverTemplate2>
        <div nz-row>
          <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: center; margin-left: 10px; background-color: #3ba0e9">
              <h3 style="padding: 5px">50</h3>
            </div>
          </div>
          <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: center; margin-left: 10px; background-color: #ffcd00">
              <h3 style="padding: 5px">50</h3>
            </div>
          </div>
          <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: center; margin-left: 10px; background-color: #92D050">
              <h3 style="padding: 5px">50</h3>
            </div>
          </div>
          <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: center; margin-left: 10px;  background-color: #ff4da8">
              <h3 style="padding: 5px">50</h3>
            </div>
          </div>
          <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
            <div style="text-align: center; margin-left: 10px;  background-color: #f4ff3e">
              <h3 style="padding: 5px">50</h3>
            </div>
          </div>
        </div>
        <h1>Total : 250</h1>
      </ng-template>
    </div>


</div>

