<div nz-row
     style="overflow:hidden;height:80vh;background-color:#D21241; padding-bottom:10px;margin-top: 10px;">
  <div nz-col nzSpan="3">
    <h3 nz-typography style="color: #fafafa;padding-top: 15px;padding-left: 35px;font-weight: bold;height: 50px">
      Orders</h3>
  </div>
  <div nz-col nzSpan="17" style="text-align: right;margin-left: -10px">
    <div
      style="width: 100%; background-color: white;height: 90%; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-bottom-right-radius: 5px;border-bottom-left-radius: 5px">
      <!--            <div nz-row>-->
      <!--              <div nz-col nzSpan="3">-->
      <!--                <div-->
      <!--                  style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #66034d;border-radius: 50%">-->
      <!--                </div>-->
      <!--                <p style="float: right; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Pending</p>-->
      <!--              </div>-->
      <!--        <div nz-col nzSpan="3">-->
      <!--          <div-->
      <!--            style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color:#0e0066; border-radius: 50%">-->
      <!--          </div>-->
      <!--          <p style="float: left; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Queue</p>-->
      <!--        </div>-->
      <!--        <div nz-col nzSpan="4">-->
      <!--          <div-->
      <!--            style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #f98c10; border-radius: 50%">-->
      <!--          </div>-->
      <!--          <p style="float: left; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Preparing</p>-->
      <!--        </div>-->
      <!--        <div nz-col nzSpan="4">-->
      <!--          <div-->
      <!--            style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #a307f5;border-radius: 50%">-->
      <!--          </div>-->
      <!--          <p style="float: left; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px;padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Prepared</p>-->
      <!--        </div>-->
      <!--        <div nz-col nzSpan="3">-->
      <!--          <div-->
      <!--            style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #036600; border-radius: 50%">-->
      <!--          </div>-->
      <!--          <p style="float: left; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px;padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Finished</p>-->
      <!--        </div>-->
      <!--        <div nz-col nzSpan="4">-->
      <!--          <div-->
      <!--            style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #f53602;border-radius: 50%">-->
      <!--          </div>-->
      <!--          <p style="float: left; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px;padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Canceled</p>-->
      <!--        </div>-->
      <!--        <div nz-col nzSpan="3">-->
      <!--          <div-->
      <!--            style="float: left; margin-top:15px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #c00033;border-radius: 50%">-->
      <!--          </div>-->
      <!--          <p style="float: left; margin-left: 10px;margin-top: 13px; font-weight: bold; font-size: 15px;padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0">- Void</p>-->
      <!--        </div>-->
      <!--            </div>-->
      <div style="margin-right: 20px">
        <h4 style="padding-top:7px;margin-bottom:-1px;margin-right: 10px">Various Order Stages</h4>
        <nz-tag nzColor="lime">
          <i nz-icon nzType="redo" nzSpin></i>
          <span>PENDING</span>
        </nz-tag>
        <nz-tag nzColor="gold">
          <i nz-icon nzType="container"></i>
          <span>IN THE QUEUE</span>
        </nz-tag>
        <nz-tag nzColor="orange">
          <i nz-icon nzType="loading-3-quarters"></i>
          <span>PREPARING</span>
        </nz-tag>
        <nz-tag nzColor="blue">
          <i nz-icon nzType="check-circle"></i>
          <span>PREPARED</span>
        </nz-tag>
        <nz-tag nzColor="green">
          <i nz-icon nzType="carry-out"></i>
          <span>SERVED</span>
        </nz-tag>
        <nz-tag nzColor="red">
          <i nz-icon nzType="close-circle"></i>
          <span>CANCELED</span>
        </nz-tag>
        <nz-tag nzColor="volcano">
          <i nz-icon nzType="exclamation-circle"></i>
          <span>VOIDED</span>
        </nz-tag>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="4" style="text-align: right;">
    <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
                    style="margin-top: 15px; width: 220px"></nz-date-picker>
  </div>

  <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
    <div nz-row
         style="overflow: scroll;margin-right: 10px; height:90%;background-color:white; padding-bottom: 10px">
      <div style="margin-left:40px; overflow: scroll" nz-row>
        <app-room-card *ngFor="let items of orders"
                       [orderColor]="items.detailsPayload.category=== 'Egg & Cheese Sandwich'?'#3ba0e9':items.detailsPayload.category=== 'Eggs'?'#92D050':items.detailsPayload.category=== 'Pancake'?'#ffcd00':items.detailsPayload.category=== 'Cheese Omelette'?'#f4ff3e':'#ff4da8'"
                       [cardType]="'order'" [bookingId]="items.booking" [orderId]="items.id" [orderQty]="items.detailsPayload.qty"
                       [orderStatus]="items.status" [itemDetails]="items" (refreshOrder)="afterOrderChange($event)">
        </app-room-card>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="4"
       style="overflow:scroll;text-align: center;height: 97%; margin-top: 4px; background-color:#D21241 ">
    <nz-card nzHoverable style="width:96%; height: 91%;" [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="coverTemplate2" nzDescription=""></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <h2 style="margin-top: 20px">Summery</h2>
      <div nz-row>
        <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #3ba0e9">

          </div>
        </div>
        <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="text-align: left; margin-left: 10px">
            <h4>Egg & Cheese Sandwich</h4>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #ffcd00">

          </div>
        </div>
        <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="text-align: left; margin-left: 10px">
            <h4>Pancake</h4>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #92D050">

          </div>
        </div>
        <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="text-align: left; margin-left: 10px">
            <h4>Egg</h4>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #ff4da8">

          </div>
        </div>
        <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="text-align: left; margin-left: 10px">
            <h4>French Toast</h4>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #f4ff3e">

          </div>
        </div>
        <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="text-align: left; margin-left: 10px">
            <h4>Cheese Omelette</h4>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="4" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: left; margin-left: 10px; width:20px; height: 20px; background-color: #d21241">

          </div>
        </div>
        <div nz-col nzSpan="20" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="text-align: left; margin-left: 10px">
            <h4 style="color: #d21241">Canceled Orders</h4>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #coverTemplate2>
      <div nz-row>
        <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: center; margin-left: 10px; background-color: #3ba0e9">
            <h3 style="padding: 5px">{{EggAndCheeseSandwich}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: center; margin-left: 10px; background-color: #ffcd00">
            <h3 style="padding: 5px">{{pancake}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: center; margin-left: 10px; background-color: #92D050">
            <h3 style="padding: 5px">{{Eggs}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: center; margin-left: 10px;  background-color: #ff4da8">
            <h3 style="padding: 5px">{{FrenchToast}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: center; margin-left: 10px;  background-color: #f4ff3e">
            <h3 style="padding: 5px">{{CheeseOmelette}}</h3>
          </div>
        </div>
        <div nz-col nzSpan="12" style="overflow:scroll;text-align: center;height: 100%;background-color: transparent">
          <div style="border-radius:2px;text-align: center; margin-left: 10px;  background-color: #d21241">
            <h3 style="padding: 5px">{{canceled}}</h3>
          </div>
        </div>
      </div>
      <h1 style="margin-top: 0">Total : {{total}}</h1>
    </ng-template>
  </div>
</div>

