<div>
  <nz-card [style.background]="background" nzHoverable
           [style.width.px]="130" style="height:200px; border-radius:10px;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;"
           [nzCover]="coverTemplate">

  </nz-card>
  <img src="{{image}}"
       [style.width]="width" style="height:100px;border: white solid 5px; border-radius: 50%;  position: relative;background-color: #fafafa; margin-top: -500px;margin-left: -20px; zoom: inherit;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;"/>

  <ng-template #coverTemplate>
    <p [style.color]="text_color"
       style="margin-top: 75%; text-align:center; color:white; font-size:15px; font-weight:bold;margin-bottom:5px">{{text}} </p>
    <p [style.color]="text_color"
       style="text-align:center; color:white; font-size:10px; font-weight:bold">{{name}} </p>
  </ng-template>
</div>
