<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>{{visibleType === 1 ? 'Check In' : 'Check Out'}}</ng-template>

  <ng-template #modalContent>
<!--    <nz-input-group [nzPrefix]="guestID">-->
<!--      <input type="search" [disabled]="visibleType!=1" (ngModelChange)="searchGuest(key.value)" #key [(ngModel)]="getGuestId" nz-input-->
<!--             placeholder="ID number"/>-->
<!--    </nz-input-group>-->
<!--    <ng-template #guestID><i nz-icon nzType="idcard" nzTheme="outline"></i></ng-template>-->
<!--    <br/>-->
<!--    <br/>-->
    <nz-input-group [nzPrefix]="guestName">
      <input type="text" [(ngModel)]="getGuestName" nz-input placeholder="Guest name"/>
    </nz-input-group>
    <ng-template #guestName><i nz-icon nzType="user"></i></ng-template>
<!--    <br/>-->
<!--    <br/>-->
<!--    <nz-input-group [nzPrefix]="guestContactNo">-->
<!--      <input type="text" [(ngModel)]="getGuestContactNo" nz-input placeholder="Contact number"/>-->
<!--    </nz-input-group>-->
    <ng-template #guestContactNo><i nz-icon nzType="mobile" nzTheme="outline"></i></ng-template>
    <br/>
    <br/>
    <nz-date-picker
                    nzFormat="yyyy-MM-dd "
                    ngModel
                    [nzDisabledDate]="disabledDate"
                    (ngModelChange)="onChange($event)"
                    (nzOnOk)="onOk($event)" style="margin-right: 30px" nzPlaceHolder="Check In Date"
                    [(ngModel)]="checkInDate"></nz-date-picker>
    <nz-date-picker
                    nzFormat="yyyy-MM-dd "
                    ngModel
                    [nzDisabledDate]="disabledDate"
                    (ngModelChange)="onChange($event)"
                    (nzOnOk)="onOk($event)" nzPlaceHolder="Check Out Date" [(ngModel)]="checkOutDate">
    </nz-date-picker>
    <br/>
    <br/>
    Total Packs<br/>
    <nz-button-group>
      <input disabled
             #inputElement
             style="width: 80px; margin-top: 10px; height: 32px"
             nz-input
             nz-tooltip
             nzTooltipTrigger="focus"
             nzTooltipPlacement="topLeft"
             nzOverlayClassName="numeric-input"
             [ngModel]="packs"
             placeholder="Input a number"
             (ngModelChange)="onChange($event)"
      />
      <button style="margin-top: 10px" nz-button (click)="minCount()"><i nz-icon nzType="minus"></i></button>
      <button style="margin-top: 10px" nz-button (click)="addCount()"><i nz-icon nzType="plus"></i></button>
    </nz-button-group>
    <div *ngIf="visibleType===0"
         style="padding-bottom:10px; padding-left:5px;padding-right:5px;float: right;text-align:center;font-weight:bold;background-color: #d21241;color: white;margin-top:-28px;border-radius: 3px">
      Room Access Code<p
      style="background-color:white;color:#d21241;font-weight: bold;font-size: 30px;padding: 0;margin: 0;border-radius: 3px;box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.9) -3px -3px 10px 1px inset;">
      {{accessCode}}</p>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()"
    >{{visibleType === 1 ? 'Check In' : 'Update'}}</button>
    <button *ngIf="visibleType===0" nz-button nzType="primary" (click)="checkOutGuest()"
    >Check Out
    </button>
  </ng-template>
</nz-modal>
