<nz-layout style="height: 100vh; background-color: #d21241">
  <nz-header style="height:80px;background-color: #d21241;">
    <div style="background-color: #d21241;width:100%;height: 100%;" nz-row
         [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div style="background-color:white" nz-col class="gutter-row" [nzSpan]="4">
        <div class="inner-box">
<!--          <img src="../../../assets/log.png" class="myImage" style="height: 50px;width: 100px">-->
          <img src="assets/shaine logo.png" style="margin-top:10px;margin-left:0px;height:60px;width:80px"/>
        </div>
      </div>
      <div style="height: 100%;padding-top: 0px" nz-col class="gutter-row" [nzSpan]="20">
        <div style="height: 100%" class="inner-box">
          <div style="height: 100%" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="1">
              <div class="inner-box"></div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
              <div class="inner-box"><h2 style="padding: 0;margin-top: 5px;color: white;font-weight: bolder">Total
                Breakfast : {{totalOrders}}</h2></div>
              <!--              <div class="inner-box"><h2-->
              <!--                style="padding: 0;margin-top: 11px;color: white;font-weight: bolder;margin-left: 10px">Total-->
              <!--                Not Pick-Up: {{totalOfNotPickups}}</h2></div>-->
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
              <div class="inner-box"><h2 style="padding: 0;margin-top: 5px;color: white;font-weight: bolder">
                Remaining: {{totalNotCompleteOrderCount}}</h2></div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="4">

            </div>
            <div nz-col class="gutter-row" [nzSpan]="3">
              <div class="inner-box">
                <button nz-button nzType="default"
                        style="margin-top: 5px; float: right; background-color: white;border: solid 2px #D21241;color: #fafafa;font-weight: bold;height: 65px;width: 65px;border-radius: 5px; margin-left:10px"
                        (click)="logOut()"><img src="assets/log-out%20(1).png"
                                                style="width: 30px;height: 30px; margin-left:3px"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-content style="width:100vw;height:90%;margin-top: 5px">
    <div nz-row style="height: 100%" [nzGutter]="0">
      <div style="background-color:#d21241;height:100%;width: 100%" nz-col class="gutter-row" [nzSpan]="20">
        <nz-layout style="height: 100%;width:99%;margin-top: 0;">
          <nz-content style="margin-top:0;background-color:white;height:80%;width:100%;overflow:scroll;">
            <div nz-row style="height: 100%" [nzGutter]="0">

              <div nz-col class="gutter-row" [nzSpan]="24">
                <div class="inner-box">
                  <div *ngIf="showWaitingOrder===0" nz-row [nzGutter]="0" style="padding-bottom: 30px">
                    <div style="padding: 10px" *ngFor="let order of waitingOrders; let i=index" nz-col
                         class="gutter-row"
                         [nzSpan]="6">
                      <app-kitechen-card (reFreshPage)="AfterReFreshPage($event)" [cardId]="i"
                                         [bookingID]="order.booking"
                                         [orderId]="order.id"
                                         [Date]="order.req_date"
                                         [GuestName]="order.guestName"
                                         [cardTitle]="order.detailsPayload.category"
                                         [protien]="order.detailsPayload.protien" [toast]="order.detailsPayload.toast"
                                         [hashbrown]="order.detailsPayload.hashbrown" [eggAvailable]="0"
                                         [eggStyle]="order.detailsPayload.egg_style"
                                         [bgColor]="order.detailsPayload.category=== 'Egg & Cheese Sandwich'?'rgba(59,160,233,0.3)':order.detailsPayload.category=== 'Eggs'?'rgba(146,208,80,0.71)':order.detailsPayload.category=== 'Pancake'?'#ffcd00':order.detailsPayload.category=== 'Cheese Omelette'?'#f4ff3e':'#ff4da8'"
                                         [roomNo]="order.roomNo" [qty]="order.detailsPayload.qty"
                                         [notes]="order.detailsPayload.note"
                                         [time]="order.req_time" [status]="order.status"></app-kitechen-card>
                    </div>
                    <!--                    <div nz-col class="gutter-row" *ngFor="let order of allPreparedOrders" [nzSpan]="6">-->
                    <!--                      <div class="inner-box">-->
                    <!--                        <app-kitchen-button style="width: 70px;text-align: center;" [orderId]="order.orderId"-->
                    <!--                                            [OrderStatus]="order.status"-->
                    <!--                                            [buttonType]="2" [bgColor]="order.status===3?'#d21241':'#15ff57'"-->
                    <!--                                            (sendOrderId)="orderId=$event" (sendOrderStatus)="changeOrderStatus($event)"-->
                    <!--                                            [roomNumber]="order.roomNo" [textcolor]="'black'">-->
                    <!--                        </app-kitchen-button>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                  <div *ngIf="showWaitingOrder===1" nz-row [nzGutter]="0" style="padding-bottom: 30px">
                    <div nz-col class="gutter-row" *ngFor="let order of allPreparedOrders" [nzSpan]="6">
                      <div class="inner-box">
                        <app-kitchen-button  style="width: 70px;text-align: center;" [orderId]="order.orderId"
                                            [OrderStatus]="order.status"
                                            [buttonType]="2" [bgColor]="order.status===3?'#d21241':'#15ff57'"
                                            (sendOrderId)="orderId=$event" (sendOrderStatus)="changeOrderStatus($event)"
                                            [roomNumber]="order.roomNo" [textcolor]="'black'">
                        </app-kitchen-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="1">
                <div class="inner-box"></div>
              </div>
            </div>
          </nz-content>
          <div style="box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;background-color: white">
            <nz-footer
              style="background-color: white;box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; padding-top: 20px">
              <button (click)="filterPickupsByRoomNumberRange(1)" *ngIf="viewType===1"
                      [style.background-color]="changeFilterRange===1?'white':'#d21241'"
                      [style.border]="changeFilterRange===1?'2px solid #d21241':'2px solid white'"
                      [style.color]="changeFilterRange===1?'#d21241':'white'"
                      style="font-size: 20px;width: 150px;height: 60px;font-weight: bold;border-radius: 15px;margin-left: 0"
                      nz-button nzType="primary">All
              </button>
              <button (click)="filterPickupsByRoomNumberRange(100)" *ngIf="viewType===1"
                      [style.background-color]="changeFilterRange===100?'white':'#d21241'"
                      [style.border]="changeFilterRange===100?'2px solid #d21241':'2px solid white'"
                      [style.color]="changeFilterRange===100?'#d21241':'white'"
                      style="background-color: #f1fc43;border-color: #999797;color: #000c17;font-size: 20px;width: 150px;height: 60px;font-weight: bold;border-radius: 15px;margin-left: 50px"
                      nz-button nzType="primary">100s
              </button>
              <button (click)="filterPickupsByRoomNumberRange(200)" *ngIf="viewType===1"
                      [style.background-color]="changeFilterRange===200?'white':'#d21241'"
                      [style.border]="changeFilterRange===200?'2px solid #d21241':'2px solid white'"
                      [style.color]="changeFilterRange===200?'#d21241':'white'"
                      style="background-color: #f1fc43;border-color:#999797;color: #000c17;font-size: 20px;width: 150px;height: 60px;font-weight: bold;border-radius: 15px;margin-left: 50px"
                      nz-button nzType="primary">200s
              </button>
            </nz-footer>
          </div>
        </nz-layout>
      </div>
      <div style="background-color: #d21241; padding: 0" nz-col class="gutter-row" [nzSpan]="4">
        <div style="width: 97%; height: 100%;padding:20px 0 0 0; background-color: white">
          <nz-divider></nz-divider>
          <div (click)="setSelection(1)" [style.background-color]="selectedButton===1?'white':'#d21241'"
               [style.border]="selectedButton!=1?'2px solid white':'2px solid #d21241'"
               style="cursor:pointer;border-radius: 15px;margin-right: 10px;height:60px;margin-left: 10px"><h2
            style="padding:0;font-weight: bolder;text-align:center;border-color:#53596a;padding-top:10px"
            [style.color]="selectedButton!=1?'white':'#d21241'">
            Orders</h2></div>
<!--          <nz-divider></nz-divider>-->
<!--          <div (click)="setSelection(4)" [style.background-color]="selectedButton===4?'white':'#d21241'"-->
<!--               [style.border]="selectedButton!=4?'2px solid white':'2px solid #d21241'"-->
<!--               style="cursor:pointer;border-radius: 15px;margin-right: 10px;height:70px;margin-left: 10px"><h2-->
<!--            style="padding:0;font-weight: bolder;text-align:center;border-color:#53596a;padding-top:19px"-->
<!--            [style.color]="selectedButton!=4?'white':'#d21241'">-->
<!--            Group Orders</h2></div>-->
          <nz-divider></nz-divider>
          <div (click)="setSelection(2)" [style.background-color]="selectedButton===2?'white':'#d21241'"
               style="cursor:pointer;border-radius: 15px;margin-right: 10px;height:60px;margin-left: 10px"
               [style.border]="selectedButton!=2?'2px solid white':'2px solid #d21241'"><h2
            style="padding:0;color:white;font-weight: bolder;text-align:center;border-color:#53596a;padding-top:10px"
            [style.color]="selectedButton===2?'#d21241':'white'">
            Not
            Picked-Up</h2></div>
          <nz-divider></nz-divider>
          <div (click)="setSelection(3)" [style.background-color]="selectedButton===3?'white':'#d21241'"
               style="cursor:pointer;background-color:#d21241;border-radius: 15px;margin-right: 10px;height:60px;margin-left: 10px"
               [style.border]="selectedButton!=3?'2px solid white':'2px solid #d21241'"><h2
            [style.color]="selectedButton===3?'#d21241':'white'"
            style="padding:0;color:white;font-weight: bolder;text-align:center;padding-top:13px;border-color:#53596a;padding-top:10px">
            Picked
            Up</h2></div>
          <nz-divider></nz-divider>
          <div
               style="cursor:pointer;background-color:#d21241;border-radius: 15px;margin-right: 10px;height:60px;margin-left: 10px"
               ><h2
            style="padding:0;color:white;font-weight: bolder;text-align:center;padding-top:13px;border-color:#53596a;padding-top:10px">
            CLOSE DAY
            </h2></div>
          <nz-divider></nz-divider>
        </div>
      </div>
<!--      <div nz-col class="gutter-row" [nzSpan]="4"-->
<!--           style="background: white; height: 100%; overflow: scroll;padding-bottom: 20px;padding-left: 10px;">-->
<!--        <div class="inner-box">-->
<!--          <div class="inner-box">-->
<!--&lt;!&ndash;            <app-kitchen-button style="text-align: center" *ngFor="let room of roomNumberList"&ndash;&gt;-->
<!--&lt;!&ndash;                                [roomNumber]="room.roomNo"&ndash;&gt;-->
<!--&lt;!&ndash;                                [orderId]="room.orderId" [isSelected]="room.roomNo===selectedRoom"&ndash;&gt;-->
<!--&lt;!&ndash;                                (click)="changeSelectedRoom(room.roomNo)" [buttonType]="3"></app-kitchen-button>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </nz-content>
</nz-layout>
<!--<div  nz-row  style="position: fixed;width:100%;height: 100%; padding: 0; margin: 0;overflow:hidden">-->
<!--  <div style=" padding: 0; margin:0;overflow:scroll" nz-col [nzSpan]="4" [nzPush]="20"><app-kitchen-button *ngFor="let order of orders" [roomNumber]="order.roomNo" [bgColor]="order.orderColor"></app-kitchen-button></div>-->
<!--  <div style="background-color:#722ed1; padding: 0; margin:0" nz-col [nzSpan]="20" [nzPull]="4">col-6 col-pull-18</div>-->
<!--</div>-->
<!--<div style="text-align: center;margin-top: 20px"><span nz-typography><strong>Design & Developed By Technography</strong></span>-->
<!--</div>-->
