<div nz-row style=" height: 100%;width:100%" [nzGutter]="0">
  <div nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box"></div>
  </div>

  <div nz-col class="gutter-row" [nzSpan]="24">
    <div class="inner-box">
      <!--      <nz-card-->
      <!--        style="width:300px;margin-left: 20%;margin-top: 100px;height: 400px;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">-->
      <div nz-row style="text-align: center; margin-top: 20vh; padding-right: 0;width: 100%">
<!--        <div nz-col nzSpan="24" style="text-align: center; margin-top: 20px; background-color: white;">-->
<!--          <img style="width: 130px;height: 70px;margin-top: 50px" src="assets/log.png">-->
<!--          <p style="font-weight:20;font-family:Calibri;margin-top: 7px">Enjoy your Breakfast. Enjoy your day</p>-->
<!--        </div>-->
        <div nz-col nzSpan="24" style="text-align: center; background-color: white;">
          <img style="width: 130px;height: 150px;" src="assets/newbrand.jpeg">
          <p style="font-weight:20;font-family:Calibri;margin-top: 7px">Enjoy your Breakfast. Enjoy your day</p>
        </div>
      </div>
      <br>
      <nz-form-control style="padding-top: 20px;margin-top: 10px;text-align: center"
                       nzErrorTip="Please input your Code!">
        <nz-input-group [nzSuffix]="suffixTemplate"   style="color:#d21241;" [style.width]="getScreenWidth > 1000 ? '25%':'70%'">
          <input  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="input password" nz-input placeholder=" Access Code" [(ngModel)]="password"
                 style="text-align: center;font-weight: bold"/>
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon style="cursor: pointer" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
        <br>
        <button style="font-weight: bold;width: 60%;margin-top: 10px" nz-button nzBlock
                [style.width]="getScreenWidth > 1000 ? '20%':'70%'"
                class="login-form-button login-form-margin"
                [nzType]="'primary'"
                (click)=" handlelogin()">Sign in
        </button>
        <br>
        <div style="text-align: center">
        <nz-alert style="text-align: center; width: 100%;margin-top:5%;padding-right: 10%;padding-left: 10%" nzType="error" nzMessage="We Kindly request you to place your order before 9 P.M in order for us to serve you better! "></nz-alert>
        </div>
      </nz-form-control>
      <br>
<!--      <p style="text-align: center">* NOTE- We Kindly request you to place your order before 9 P.M in order for us to serve you better! * </p>-->
      <!--      </nz-card>-->
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="8">
    <div class="inner-box"></div>
  </div>
</div>
<!--<p style="color:#D21241;text-align: center;margin-top: -80px">Developed By Technography</p>-->



