<div nz-row style="background-color:white;padding: 20px;height: 10vh">
  <div nz-col nzSpan="4">
    <img src="../../ramada/assets/log.png" style="height:60px;width:100px"/>
  </div>
  <div nz-col nzSpan="16"></div>
  <div nz-col nzSpan="2" style="text-align: right;padding: 0">
    <button nz-button nzType="default"
            style="margin-top: -5px; background-color: #D21241;border-color: #D21241;color: #fafafa;font-weight: bold;height: 50px;width: 100px;border-radius: 10px;"
            (click)="changeScreen(2)">Orders
    </button>
  </div>
  <div nz-col nzSpan="2" style="text-align: right;">
    <button nz-button nzType="default"
            style=" margin-top: -5px; background-color: #D21241;border-color: #D21241;color: #fafafa;font-weight: bold;height: 50px;width: 100px; border-radius: 10px ;"
            (click)="changeScreen(1)">Rooms
    </button>
  </div>
</div>

<app-rooms *ngIf="room==1"></app-rooms>
<app-orders *ngIf="room==2"></app-orders>

<div style="text-align: center;margin-top: 20px"><span nz-typography><strong>Design & Developed By Technography</strong></span>
</div>
