<div nz-col>
  <!--  <input id="CrdId" checked="{{isChecked}}" style="" type="checkbox">-->
  <!--  'cardHeight' meka height eka chang karanawanam apply karanna -->
  <!--  if you want to re size card please insert this to<nz-card>'(click)="cardClick()"'-->
  <nz-card class="myCrd" [style.background-color]="bgColor"
           [style.width]="widthChangeEnable===1?cardWidth:'100%'" [style.height]="widthChangeEnable===1?'100%':'100%'"
           style=" transition: 1s; text-align: center;font-weight: bold;border-radius: 5px" [nzTitle]="Heading">
    <ng-template style="text-align: center; margin: 0; padding: 0" #Heading>
      <h3 style="font-weight: bold; font-size: 20px; margin: 0px">{{cardTitle}}</h3>
    </ng-template>
    <div class="cardData">
      <p>Egg Style :</p>
    </div>
    <div class="cardData">
      <p> {{eggStyle}}</p>
    </div>
    <div class="cardData">
      <p>Protein : </p>
    </div>
    <div class="cardData">
      <p>{{protien}}</p>
    </div>
    <div class="cardData">
      <p>Toast : </p>
    </div>
    <div class="cardData">
      <p>{{toast}}</p>
    </div>
    <div class="cardData">
      <p>Hashbrown : </p>
    </div>
    <div class="cardData">
      <p>{{hashbrown}}</p>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;
">Room-No:</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">{{roomNo}}</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">Guest Name</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">{{GuestName}}</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">Date:</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">{{Date}}</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">Time:</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">{{time}}</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">Quantity:</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;">{{qty}}</h4>
    </div>
    <div class="cardData">
      <h4 style="font-weight: bold;color: #d21241">Order Notes</h4>
    </div>
    <div style="width: 100%;float: left;">
      <h4 style="font-weight: bold;text-align: left">{{notes != '' ? notes : 'N/A'}}</h4>
    </div>
<!--    <button *ngIf="status===1" nz-button nzType="primary"-->
<!--            style="margin-top:10px;padding-bottom:0;width: 99%;height: 40px;font-weight: bold;font-size:20px;"><p-->
<!--      style="margin-top: -3px;" (click)="startPreparing()">Start</p></button>-->
    <button nz-button nzType="primary"
            style="margin-top:10px;padding-bottom:0;width: 99%;height: 40px;font-weight: bold;font-size:20px;border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;"><p
      style="margin-top: -3px;" (click)="completeOrder()">Done</p></button>
  </nz-card>
</div>
