<div>
  <ng-template #contentTemplate>
    <p>protein: {{protein}}</p>
    <p>toast: {{toast}}</p>
    <p>hashBrown: {{hashBrown}}</p>
    <p *ngIf="eggAvailable===1">eggStyle:{{eggStyle}}</p>
  </ng-template>
  <nz-card nz-popover
           nzPopoverTitle=""
           [nzPopoverPlacement]="'top'"
           [(nzPopoverVisible)]="visible"
           (nzPopoverVisibleChange)="change($event)"
           [nzPopoverTrigger]="'click'"
           [nzPopoverContent]="contentTemplate" nzHoverable style="height:150px;width:150px;border-radius: 20px" [nzCover]="coverTemplate">
    <img src="{{image}}" style="width: 150px;height: 100%;margin-top: -21px;margin-left: -26px">
  </nz-card>
  <!--    <nz-card-meta nzTitle="" nzDescription="" ></nz-card-meta>-->
  <!--  </nz-card>-->
  <ng-template #coverTemplate>
  </ng-template>
</div>
