body ::-webkit-scrollbar {
  display: none;
}
body{
  background-color: white;
  padding: 0;
  margin: 0;
  /*background-color: #000c17;*/
}

.ant-switch-checked {
  background-color: #D21241;
}

/*.ant-modal-header {*/
/*  background-color: #D21241;*/
/*}*/
/*.ant-modal-body{*/
/*  background-color: #D21241;*/
/*}*/
/*.ant-modal-footer{*/
/*  background-color: #D21241;*/
/*}*/

.ant-picker-footer{
  display: none;
}
.ant-btn-primary{
  background-color:#D21241;
  border-color:#D21241;

}
.ant-btn-primary:hover{
  background-color:#D21241;
  border-color:#D21241;

}
